nav {
    background-color: rgba(250, 248, 248, 0.5);
    -webkit-box-shadow: 
    0 0px 0px 0 rgba(0,0,0,0.14), 
    0 0px 0px 0px rgba(0,0,0,0.12), 
    0 0px 0px 0 rgba(0,0,0,0.2);
    box-shadow: 
    0 0px 0px 0 rgba(0,0,0,0.14), 
    0 0px 0px 0px rgba(0,0,0,0.12), 
    0 0px 0px 0 rgba(0,0,0,0.2);
    width:90%;
    margin-left:60px;
}

.img {
    max-width: 400px;
    max-height: 80px
}

.btn {
    background: rgb(41, 39, 39, 0.6)
}

.btn:hover {
    background: rgb(41, 39, 39)
  
}

.sharedButton {
    margin-right: 5%
}

