.contactContainer {
    background-color: rgb(250, 248, 248, 0.8);
    padding: 40px;
    max-width: 700px;
    max-height: 565px;
    margin-top: 177px;
    margin-left: 575px;
}

.fullContactPage {
    background: url(../../images/wallpaper2.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100%;
    /* padding-bottom: 210px */
    height: 100vh;
}

.createContactHeader {
    margin-left: 9%
}

.contact-dashboard {
    margin-left: 31%;
    margin-top: -3.8%
}

.form-button2 {
    margin-left: 29%
}

